

@media only screen and (max-width: 500px) {
    body {
        font-size: 15px;
        padding: 10px;
    }
    
    #container {
        width: 100%;
        padding: 10px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    
    img {
        max-width: 50%;
    }
    
    .table-img {
        max-width: 100px;
    }
    
    
    table {
        font-size: 12px;
    }
    
    th, td {
        padding: 6px;
    }
    
    
    form {
        padding: 10px;
    }
    
    input[type="submit"],
    input[type="reset"] {
        width: 100%;
        margin: 5px 0;
    }
    
    
    #animation {
        width: 50px;
        height: 50px;
    }
    
    @keyframes example {
        0% {
            background-color: red;
            left: 0px;
            top: 0px;
            border-radius: 0%;
        }
        10% {
            background-color: orange;
            left: 50px;
            top: 0px;
            border-radius: 10%;
        }
        20% {
            background-color: yellow;
            left: 100px;
            top: 0px;
            border-radius: 20%;
        }
        30% {
            background-color: lime;
            left: 150px;
            top: 0px;
            border-radius: 30%;
        }
        40% {
            background-color: blue;
            left: 150px;
            top: 50px;
            border-radius: 40%;
        }
        50% {
            background-color: indigo;
            left: 150px;
            top: 100px;
            border-radius: 50%;
        }
        60% {
            background-color: violet;
            left: 100px;
            top: 100px;
            border-radius: 40%;
        }
        70% {
            background-color: pink;
            left: 50px;
            top: 100px;
            border-radius: 30%;
        }
        80% {
            background-color: green;
            left: 0px;
            top: 100px;
            border-radius: 20%;
        }
        90% {
            background-color: brown;
            left: 0px;
            top: 50px;
            border-radius: 10%;
        }
        100% {
            background-color: red;
            left: 0px;
            top: 0px;
            border-radius: 0%;
        }
    }
}